.singlepostimg {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 10px;
}

.singlepostwrapper {
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Mukta', sans-serif;
}

.posttitle {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}
