* {
    font-family: 'Mukta', sans-serif;
    margin: 0;
}
.ppimg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.settingswrapper{
    display: flex;
    align-items: center;
}
.settingstitle{
    display: flex;
    align-items: center;
}